<configuration>

    <conversionRule conversionWord="custom_color" converterClass="com.w2.springtemplate.framework.logback.W2LogbackColor" />

    <appender name="colorAppender" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d %green([%thread]) %highlight(%level) %logger{50} - %msg%n</pattern>
        </layout>
    </appender>

    <appender name="DEFAULT_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout  class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d %green([%thread]) %custom_color(%level) %boldCyan(%logger{50}) - %custom_color(%msg%n)</pattern>
        </layout>
    </appender>

    <logger name="org.springframework" level="INFO" additivity="false">
        <appender-ref ref="DEFAULT_STDOUT" />
    </logger>

    <logger name="com.w2" level="TRACE" additivity="false">
        <appender-ref ref="DEFAULT_STDOUT" />
    </logger>

    <root level="INFO">
        <appender-ref ref="DEFAULT_STDOUT" />
    </root>
</configuration>